# Copier ce fichier en .env et remplir les valeurs pour le VPS
DJANGO_SECRET_KEY=votre-cle-secrete-tres-longue-et-aleatoire
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=caisse-ih.com,www.caisse-ih.com,IP_DE_VOTRE_VPS
STRIPE_SECRET_KEY=sk_live_votre_cle_stripe
