<div class="caisse-container">
  <div class="scan-panel">
    <input type="text"  [(ngModel)]="codebarre" placeholder="Scanner le code-barre ici" (keypress)="checkIfEnterKey($event)">
    <button (click)="scanProduit()">Ajouter</button>
  </div>
  <div class="scan-panel">
   <input
  type="text"
  placeholder="Rechercher un produit par nom"
  [(ngModel)]="searchTerm"
  (input)="filterProduits()" 
  (blur)="filteredProduits = []"
  class="search-bar"
/>

<div class="search-results" *ngIf="filteredProduits.length">
  <div class="result-item" *ngFor="let i of filteredProduits" (click)="ajouterProduitParNom(i)">
    {{ i.nomProd }} - {{ i.prixVente }} €
  </div>
</div>
  </div>
    <!-- Affichage du message d'erreur -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <div class="transactions">
      <h3>Liste des produits:</h3>
      <div *ngFor="let ligne of ligneTransaction" class="transaction-line">
        
          <span>Nom produit: {{ ligne.produitDetails?.nomProd }}</span>
          
       
        <span>{{ ligne.quantite }} x {{ ligne.prix_unitaire }} €</span>
        <span>Total ligne: {{ ligne.total }} €</span>
      </div>
    </div>

  <div class="total-panel">
    <h3>Total transaction: {{ totalTransaction }} €</h3>
    <button (click)="finalizeTransaction()">Finaliser la transaction</button>
  </div>
</div>

