<!-- Table des commandes -->
<div class="table-container">
  <h1>VOTRE COMMANDE</h1>

  <!-- Barre de recherche -->
  <div class="search-container" style="margin-bottom: 20px;">
    <input type="text" [(ngModel)]="searchNumeroSuivi" placeholder="Rechercher par numéro de suivi" class="form-control" />
    <button class="btn btn-primary" (click)="rechercherParNumeroSuivi()">Rechercher</button>
    <button class="btn btn-secondary" (click)="resetRecherche()" *ngIf="isFiltered">Réinitialiser</button>
 </div>

  <table class="styled-table" *ngIf="commande?.length">
    <thead>
      <tr>
        <th>Client</th>
        <th>Date</th>
        <th>Montant total</th>
        <th>Statut</th>
        <th>Type expédition</th>
        <th>Numéro d'éxpéditeur</th>
        <th>Numéro suivi</th>
        <th>Facture</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of commande">
        <td>{{c.client}}</td>
        <td>{{c.date_commande | date:'dd/MM/yyyy HH:mm':'':'fr'}}</td>
        <td>{{c.montant_total | number:'1.2-2'}} €</td>
        <td>{{c.statut}}</td>
        <td>{{c.type_expedition}}</td>
        <td>{{c.numero_expediteur}}</td>
        <td>{{c.numero_suivi}}</td>
        
        <td>
          <!-- <a *ngIf="c.facture" [href]="c.facture" target="_blank">Voir</a> -->
          <!-- <span *ngIf="!c.facture">-</span> -->
           <a *ngIf="c.facture" [href]="'http://127.0.0.1:8000' + c.facture" target="_blank">Voir</a>
            <span *ngIf="!c.facture">-</span>
        </td>
      </tr>
    </tbody>
  </table>

  
</div>