

  <nav class="navbar">
    <ul class="nav-links">
      <!-- Onglet Personnes avec menu déroulant -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Salariés</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/personnes">Liste des salariés</a></li>
          <li><a routerLink="/details_personnes">Détails salariés</a></li>
          <li><a routerLink="/create_personnes">Créer salariés</a></li>
        </ul>
      </li>
  
      <!-- Onglet Produits avec menu déroulant -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Produits</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/produits">Liste de Produits</a></li>
          <li><a routerLink="/details_produit">Détails Produit</a></li>
          <li><a routerLink="/create_produit">Créer Produit</a></li>
        </ul>
      </li>
  
      <!-- Onglet Rapports -->
      <li><a routerLink="/cout">Rapports</a></li>
  
      <!-- Onglet Fournisseurs avec menu déroulant -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">Fournisseurs</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/fournisseur">Liste des Fournisseurs</a></li>
          <li><a routerLink="/create_fournisseur">Créer des Fournisseurs</a></li>
          
          
        </ul>
      </li>
  
      <!-- Onglet Caisse -->
     
   

    <li class="dropdown">
        <a href="#" class="dropdown-toggle">Caisse</a>
        <ul class="dropdown-menu">
           <li><a routerLink="/caisse">Caisse enregistreuse</a></li>
          <li><a routerLink="/delete_lignes">Suppression Lignes</a></li>
           <li><a routerLink="/delete_total">Suppression Total</a></li>
        </ul>
      </li>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle">Formulaire</a>
        <ul class="dropdown-menu">
           <!-- <li><a routerLink="/formulaire">Formulaire live tiktok</a></li> -->
          <li><a routerLink="/commande">Liste de toutes les commandes</a></li>
           <!-- <li><a routerLink="/suivie_client">Suivi Commande Client</a></li> -->
        </ul>
      </li>

       </ul>
  </nav>