<nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/personnes">Liste de Personnes</a></li>
      <li><a routerLink="/details_personnes">Détails Personne</a></li>
      <li><a routerLink="/create_personnes">Créer Personne</a></li>
      <li><a routerLink="/produits">Liste de Produits</a></li>
      <li><a routerLink="/details_produit">Détails Produit</a></li>
      <li><a routerLink="/create_produit">Créer Produit</a></li>
      <li><a routerLink="/cout">Rapports</a></li>
      <li><a routerLink="/fournisseur">List des Fournisseurs</a></li>
      <li><a routerLink="/create_fournisseur">Créer des Fournisseurs</a></li>
      <li><a routerLink="/caisse">Caisse enregistreuse</a></li>
    </ul>
  </nav>